@charset "UTF-8";@charset "UTF-8";

body {
	font-family: BIZ UDPゴシック;
	background-color: #EEEEEE;
	text-align: center;
}

h1 {
	font-size: 32px;
    color: #000;
}

h2 {
	font-size: 28px;
	background-color: #A4C6FF;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* 通常のボタン */
.btn {
	border: 2px solid #000;
	padding: 4px 20px;
	font-size: 20px;
	color: #000;
	cursor:pointer;
}

.btn:hover {
  color: #fff;
  background: #A4C6FF;
  border: 2px solid #A4C6FF;
}

table {
	border: 1px solid #5e696c;
	margin-left: auto;
	margin-right: auto;
	width: 80%; 					/* テーブル横幅 */
	border-collapse:  collapse; 	/* 境界線を共有 */
}

th {
	border: 1px solid #5e696c;
    text-align:center;
    background-color: #A4C6FF;
    height: 32px;
}

td {
	border: 1px solid #5e696c;
	text-align: center;
	height: 24px;
}

.case-list {
    background-color: #eee8aa;
}

/* 詳細テーブル */
.detail-table {
	background-color: #eee8aa;
	width: 50%;
	table-layout: fixed;
}

.detail-table .guide {
	width: 30%;
	background-color: #CCCCCC	;
	text-align: center;
}

.detail-table td {
	text-align: left;
}

.detail-table td input {
  width: 50%;
  margin-left: 4px;
}

.detail-table td textarea {
  width: 80%;
  margin-left: 4px;
}

/* 長い入力の幅  */
input.long {
	width: 300px;
}

.error-msg {
	color: red;
}

.condition_table {
	background-color: red;
}

