@charset "UTF-8";@charset "UTF-8";

body {
	font-family: BIZ UDPゴシック;
	background-color: #EEEEEE;
	text-align: center;
}

.case-list {
    background-color: #eee8aa;
}

.error-msg {
	color: red;
}

.tbtn {
	border: 2px solid steelblue;
	padding: 2px 10px;
	font-size: 16px;
	color: steelblue;
	cursor: pointer;
}

.tbtn:hover {
	color: #fff;
	background-color: steelblue;
}

.task-list {
	background-color: #afeeee;
	width: 60%;
}

.nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
}

.content-col {
  min-width: 80px;
  word-break: break-word;
}



