<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>ケース編集確認</title>
</head>
<body>
	<main layout:fragment="content">
	<h2 class="my-5">ケース編集確認</h2>

	<table class="table table-bordered w-50 mx-auto"　th:object="${caseEditForm}">
		<tr>
			<td>【ケースID】</td>
			<td th:text="*{caseId}" class="w-50"></td>
		</tr>
		<tr>
			<td>【ユーザ名】</td>
			<td th:text="*{userName}" class="w-50"></td>
		<tr>
			<td>【ケース名】</td>
			<td th:text="*{caseName}" class="w-50"></td>
		<tr>
			<td>【クライアント名】</td>
			<td th:text="*{clientName}" class="w-50"></td>
		<tr>
			<td>【内容】</td>
			<td th:text="*{detail}" class="w-50"></td>
		<tr>
			<td>【ステータス】</td>
			<td th:text="*{statusName}" class="w-50"></td>
		</tr>
	</table>
	<br>
	
	<form th:action="@{/case-confirm-edit}" method="post"
			th:object="${caseEditForm}">
		<input type="hidden" th:field="*{caseId}">
		<input type="hidden" th:field="*{userId}">
		<input type="hidden" th:field="*{caseName}">
		<input type="hidden" th:field="*{clientName}">
		<input type="hidden" th:field="*{detail}">
		<input type="hidden" th:field="*{statusCode}">
		<input type="submit" value="更新実行" class="btn btn-primary">
	</form>
	<br>
	<form th:action="@{/case-show-edit}" method="post"
			th:object="${caseEditForm}">
		<input type="hidden" th:field="*{caseId}">
		<input type="hidden" th:field="*{userId}">
		<input type="hidden" th:field="*{caseName}">
		<input type="hidden" th:field="*{clientName}">
		<input type="hidden" th:field="*{detail}">
		<input type="hidden" th:field="*{statusCode}">
		<input type="submit" value="戻る" class="btn btn-primary">
	</form>
	</main>
</body>

</html>