<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ケース詳細</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h2>ケース詳細</h2>
	<!-- ケース詳細 -->
	<table class="detail-table" th:object="${caseDetail}">
		<tr>
			<td class="guide">【ケースID】</td>
			<td th:text="*{caseId}"></td>
		</tr>
		<tr>
			<td class="guide">【ユーザ】</td>
			<td th:text="*{user.userName}"></td>
		</tr>
		<tr>
			<td class="guide">【ケース名】</td>
			<td th:text="*{caseName}"></td>
		</tr>
		<tr>
			<td class="guide">【クライアント名】</td>
			<td th:text="*{clientName}"></td>
		</tr>
		<tr>
			<td class="guide">【詳細】</td>
			<td th:text="*{detail}"></td>
		</tr>
		<tr>
			<td class="guide">【ステータス】</td>
			<td th:text="*{status.statusName}"></td>
		</tr>
	</table>
	<br>
	<form th:action="@{/case-show-edit}" method="post" th:object="${caseDetail}">
		<input type="hidden" th:field="*{caseId}">
		<input type="hidden" name="userId" th:value="user.userId">
		<input type="hidden" th:field="*{caseName}">
		<input type="hidden" th:field="*{clientName}">
		<input type="hidden" th:field="*{detail}">
		<input type="hidden" name="statusCode" th:value="status.statusCode">
		<input type="submit" value="編集" class="btn">
	</form>
	<br>
	<form th:action="@{/case-remove}" method="post" th:object="${caseDetail}">
		<input type="hidden" th:field="*{caseId}">
		<input type="submit" value="削除" class="btn">
	</form>
	<div th:if="${caseDetail.taskList.size()} != 0">
		(タスクは全て削除)
	</div>
	<br><br>
	
	<!-- タスク一覧 -->
	<div th:if="${caseDetail.taskList.size() != 0}">
		<table class="case-list">
			<tr>
				<th>削除</th>
				<th>タスクID</th><th>タイトル</th><th>期限</th>
				<th>重要度</th><th>ステータス</th>
			</tr>
			<tr th:each="task : ${caseDetail.taskList}">
				<td>
					<form th:action="@{/task-remove}" method="post">
						<input type="hidden" name="caseId" th:value="${task.caseId}">
						<input type="hidden" name="taskId" th:value="${task.taskId}">
						<input type="hidden" name="title" th:value="${task.title}">
						<input type="hidden" name="deadline" th:value="${task.deadline}">
						<input type="hidden" name="priorityCode" th:value="${task.priority.priorityCode}">
						<input type="hidden" name="statusCode" th:value="${task.status.statusCode}">
						<input type="submit" value="削除" class="tbtn">
					</form>
				</td>
				<td th:text="${task.taskId}"></td>
				<td th:text="${task.title}"></td>
				<td th:text="${task.deadline}"></td>
				<td th:text="${task.priority.priorityName}"></td>
				<td th:text="${task.status.statusName}"></td>
			</tr>
		</table>
	</div>
	<br>
	<!-- タスク登録へ -->
	<form th:action="@{/task-show-regist}" method="post" th:object="${caseDetail}">
		<input type="hidden" th:field="*{caseId}">
		<input type="submit" value="タスク登録" class="btn">
	</form>
	<br>
	<br>
	<a th:href="@{/top}">トップページに戻る</a>
</body>
</html>