<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>ケース登録確認</title>
</head>
<body>
	<main layout:fragment="content">
	<h2>ケース登録確認</h2>

	<table class="detail-table"　th:object="${caseRegistForm}">
		<tr>
			<td class="guide">【ユーザ名】</td>
			<td th:text="*{userName}"></td>
		<tr>
			<td class="guide">【ケース名】</td>
			<td th:text="*{caseName}"></td>
		<tr>
			<td class="guide">【クライアント名】</td>
			<td th:text="*{clientName}"></td>
		<tr>
			<td class="guide">【詳細】</td>
			<td th:text="*{detail}" class="long"></td>
		<tr>
			<td class="guide">【ステータス】</td>
			<td th:text="*{statusName}"></td>
		</tr>
	</table>
	<br>
	
	<form th:action="@{/case-confirm-regist}" method="post"
			th:object="${caseRegistForm}">
		<input type="hidden" th:field="*{userId}">
		<input type="hidden" th:field="*{caseName}">
		<input type="hidden" th:field="*{clientName}">
		<input type="hidden" th:field="*{detail}">
		<input type="hidden" th:field="*{statusCode}">
		<input type="submit" value="登録実行" class="btn">
	</form>
	<br>
	<form th:action="@{/case-show-regist}" method="post"
			th:object="${caseRegistForm}">
		<input type="hidden" th:field="*{userId}">
		<input type="hidden" th:field="*{caseName}">
		<input type="hidden" th:field="*{clientName}">
		<input type="hidden" th:field="*{detail}">
		<input type="hidden" th:field="*{statusCode}">
		<input type="submit" value="戻る" class="btn">
	</form>
	</main>
</body>

</html>