<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
	<title>ケース一覧</title>
</head>

<body>
	<main layout:fragment="content">
		<br>
		<div class="d-flex justify-content-between w-50 mx-auto">
			<!-- 登録へ -->
			<form th:action="@{/case-show-regist}" method="post">
				<input type="submit" value="ケース登録" class="btn btn-primary">
			</form>
			<br>
		</div>
		<h2 class="my-5">ケース検索</h2>
		<!-- 検索 -->
		<form th:action="@{/case-search-list}" method="post" th:object="${caseSearchListForm}" class="w-75 mx-auto">
			<table class="table table-bordered">
				<tr>
					<th>【担当者】</th>
					<th>【ケース名】</th>
					<th>【クライアント名】</th>
					<th>【ステータス】</th>
				</tr>
				<tr>
					<td>
						<select th:field="*{userId}">
							<option value="">全て</option>
							<option th:each="user : ${userList}" th:value="${user.userId}"
								th:text="${user.userId + ':' + user.userName}" th:selected="${user.userId == userId}">
							</option>
						</select>
					</td>
					<td><input type="text" th:field="*{caseName}"></td>
					<td><input type="text" th:field="*{clientName}"></td>
					<td>
						<select th:field="*{statusCode}">
							<option value="">全て</option>
							<option th:each="status : ${statusList}" th:value="${status.statusCode}"
								th:text="${status.statusCode + ':' + status.statusName}"
								th:selected="${status.statusCode == statusCode}"></option>
						</select>
					</td>
				</tr>
			</table>
			<input type="submit" value="検索" class="btn btn-primary">
		</form>

		<!-- 表示 -->
		<div th:if="${caseSummaryList} != null" class="w-75 mx-auto">
			<h2 class="my-4">ケース一覧</h2>

			<table class="table table-bordered table-fixed">
				<tr>
					<th class="nowrap">詳細</th>
					<th class="nowrap">ケースID</th>
					<th class="nowrap">担当者</th>
					<th class="nowrap">ケース名</th>
					<th class="nowrap">クライアント名</th>
					<th class="nowrap">ステータス</th>
					<th>内容</th>
					<th class="nowrap">タスク件数</th>
				</tr>
				<tr th:each="case : ${caseSummaryList}">
					<td class="align-middle">
						<form th:action="@{/case-search-detail}" method="post">
							<input type="hidden" name="caseId" th:value="${case.caseId}">
							<input type="submit" value="詳細" class="tbtn">
						</form>
					</td>
					<td th:text="${case.caseId}" class="nowrap align-middle"></td>
					<td th:text="${case.user.userName}" class="nowrap align-middle"></td>
					<td th:text="${case.caseName}" class="nowrap align-middle"></td>
					<td th:text="${case.clientName}" class="nowrap align-middle"></td>
					<td th:text="${case.status.statusName}" class="nowrap align-middle"></td>
					<td th:text="${case.detail}" class="align-middle text-start"></td>
					<td th:text="${case.taskCnt}" class="nowrap align-middle"></td>
				</tr>
			</table>

		</div>
	</main>
</body>