<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>ユーザ登録</title>
</head>
<body>
	<main layout:fragment="content">
	<h2 class="my-5">ケース削除確認</h2>

	<table th:object="${caseDetail}" class="table table-bordered w-50 mx-auto">
		<tr>
			<td>【ケースID】</td>
			<td th:text="*{caseId}"class="w-50"></td>
		</tr>
		<tr>
			<td>【ユーザ名】</td>
			<td th:text="*{user.userName}" class="w-50"></td>
		<tr>
			<td>【ケース名】</td>
			<td th:text="*{caseName}" class="w-50"></td>
		<tr>
			<td>【クライアント名】</td>
			<td th:text="*{clientName}" class="w-50"></td>
		<tr>
			<td>【内容】</td>
			<td th:text="*{detail}" class="w-50"></td>
		<tr>
			<td>【ステータス】</td>
			<td th:text="*{status.statusName}" class="w-50"></td>
		</tr>
	</table>
	<br>
	
	<!-- タスク一覧 -->
	<div th:if="${caseDetail.taskList.size()} != 0">
		<table class="table table-bordered w-75 mx-auto">
			<tr>
				<th>タスクID</th><th>タイトル</th><th>期限</th>
				<th>重要度</th><th>ステータス</th>
			</tr>
			<tr th:each="task : ${caseDetail.taskList}">
				<td th:text="${task.taskId}"></td>
				<td th:text="${task.title}"></td>
				<td th:text="${task.deadline}"></td>
				<td th:text="${task.priority.priorityName}"></td>
				<td th:text="${task.status.statusName}"></td>
			</tr>
		</table>
		<div>(タスクは全て削除されます)</div>
	</div>
	
	<br>
	<div class="pb-3">		
	<form th:action="@{/case-confirm-remove}" method="post"
			th:object="${caseDetail}">
		<input type="hidden" th:field="*{caseId}">
		<input type="submit" value="削除実行" class="btn btn-primary">
	</form>
	<br>
	<form th:action="@{/case-search-detail}" method="post"
			th:object="${caseDetail}">
		<input type="hidden" th:field="*{caseId}">
		<input type="submit" value="戻る" class="btn btn-primary">
	</form>
	</div>
	</main>
</body>

</html>