<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ケース編集</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h2>ケース編集</h2>
	
	<form th:action="@{/case-edit}" method="post" th:object="${caseEditForm}">
		<table class="detail-table">
			<tr>
				<td class="guide">【ケースID】</td>
				<td>
					<span th:text="*{caseId}"></span>
					<input type="hidden" th:field="*{caseId}">
				</td>
			</tr>
			<tr>
				<td class="guide">【ユーザ名】</td>
				<td>
					<select th:field="*{userId}">
						<option th:each="user : ${userList}"
						th:value="${user.userId}"
						th:text="${user.userName}"
						th:selected="${user.userId == userId}">
						</option>
					</select>
					<div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"
					class="error-msg"></div>
				</td>
			<tr>
				<td class="guide">【ケース名】</td>
				<td>
					<input type="text" th:field="*{caseName}"><br>
					<div th:if="${#fields.hasErrors('caseName')}" th:errors="*{caseName}"
					class="error-msg"></div>
				</td>
			<tr>
				<td class="guide">【クライアント名】</td>
				<td>
					<input type="text" th:field="*{clientName}"><br>
					<div th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}"
					class="error-msg"></div>
				</td>
			<tr>
				<td class="guide">【詳細】</td>
				<td>
					<textarea th:field="*{detail}" class="long" rows="3"></textarea><br>
					<div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"
					class="error-msg"></div>
				</td>
			<tr>
				<td class="guide">【ステータス名】</td>
				<td>
					<select th:field="*{statusCode}">
						<option th:each="status : ${statusList}"
						th:value="${status.statusCode}"
						th:text="${status.statusName}"
						th:selected="${status.statusCode == statusCode}">
						</option>
					</select>
					<div th:if="${#fields.hasErrors('statusCode')}" th:errors="*{statusCode}"
					class="error-msg"></div>
				</td>
			</tr>
		</table>
		<br>
		<input type="submit" value="更新" class="btn">
		<br>
		<br>
		<a th:href="@{/top}">トップページに戻る</a>
	</form>
</body>
</html>