<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>ケース編集</title>
</head>
<body>
	<main layout:fragment="content">
	<h2 class="my-5">ケース編集</h2>
	
	<form th:action="@{/case-edit}" method="post" th:object="${caseEditForm}" class="w-75 mx-auto">
		<table class="table table-bordered">
			<tr>
				<td>【ケースID】</td>
				<td class="text-start">
					<span th:text="*{caseId}"></span>
					<input type="hidden" th:field="*{caseId}">
				</td>
			</tr>
			<tr>
				<td>【ユーザ名】</td>
				<td class="text-start">
					<select th:field="*{userId}" class="w-50">
						<option th:each="user : ${userList}"
						th:value="${user.userId}"
						th:text="${user.userName}"
						th:selected="${user.userId == userId}">
						</option>
					</select>
					<div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"
					class="error-msg"></div>
				</td>
			<tr>
				<td>【ケース名】</td>
				<td class="text-start">
					<input type="text" th:field="*{caseName}" class="w-75"><br>
					<div th:if="${#fields.hasErrors('caseName')}" th:errors="*{caseName}"
					class="error-msg"></div>
				</td>
			<tr>
				<td>【クライアント名】</td>
				<td class="text-start">
					<input type="text" th:field="*{clientName}" class="w-75"><br>
					<div th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}"
					class="error-msg"></div>
				</td>
			<tr>
				<td>【詳細】</td>
				<td class="text-start">
					<textarea th:field="*{detail}" class="w-100" rows="3"></textarea><br>
					<div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"
					class="error-msg"></div>
				</td>
			<tr>
				<td class="guide">【ステータス名】</td>
				<td class="text-start">
					<select th:field="*{statusCode}" class="w-50">
						<option th:each="status : ${statusList}"
						th:value="${status.statusCode}"
						th:text="${status.statusName}"
						th:selected="${status.statusCode == statusCode}">
						</option>
					</select>
					<div th:if="${#fields.hasErrors('statusCode')}" th:errors="*{statusCode}"
					class="error-msg"></div>
				</td>
			</tr>
		</table>
		<br>
		<input type="submit" value="更新" class="btn btn-primary">
		<br>
		<br>
		<a th:href="@{/top}">トップページに戻る</a>
	</form>
	</main>
</body>
</html>