<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
	<title>タスク登録確認</title>
</head>

<body>
	<main layout:fragment="content">
		<h2 class="my-5">タスク登録確認</h2>

		<div class="card w-50 mx-auto">
			<div class="card-body py-3 px-4" th:object="${taskRegistForm}">

				<div class="row mb-4">
					<div class="col-4 fw-bold">【ケースID】</div>
					<div class="col-8" th:text="*{caseId}"></div>
				</div>

				<div class="row mb-4">
					<div class="col-4 fw-bold">【タイトル】</div>
					<div class="col-8" th:text="*{title}"></div>
				</div>

				<div class="row mb-4">
					<div class="col-4 fw-bold">【期限】</div>
					<div class="col-8" th:text="*{deadline}"></div>
				</div>

				<div class="row mb-4">
					<div class="col-4 fw-bold">【重要度】</div>
					<div class="col-8 text-break" th:text="*{priorityName}"></div>
				</div>

				<div class="row mb-4">
					<div class="col-4 fw-bold">ステータス</div>
					<div class="col-8 text-break" th:text="*{statusName}"></div>
				</div>
			</div>
		</div>

		<br>
		<form th:action="@{/task-confirm-regist}" method="post" th:object="${taskRegistForm}" 
				class="d-inline">
			<input type="hidden" th:field="*{caseId}">
			<input type="hidden" th:field="*{title}">
			<input type="hidden" th:field="*{deadline}">
			<input type="hidden" th:field="*{priorityCode}">
			<input type="hidden" th:field="*{statusCode}">
			<input type="submit" value="登録実行" class="btn btn-primary">
		</form>
		<form th:action="@{/task-show-regist}" method="post" th:object="${taskRegistForm}" class="d-inline ms-5">
			<input type="hidden" th:field="*{caseId}">
			<input type="hidden" th:field="*{title}">
			<input type="hidden" th:field="*{deadline}">
			<input type="hidden" th:field="*{priorityCode}">
			<input type="hidden" th:field="*{statusCode}">
			<input type="submit" value="戻る" class="btn btn-primary">
		</form>
	</main>
</body>

</html>