<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>タスク登録確認</title>
</head>
<body>
	<main layout:fragment="content">
	<h2 class="my-5">タスク登録確認</h2>

	<table th:object="${taskRegistForm}" class="table table-bordered w-50 mx-auto">
		<tr>			
			<td>【ケースID】</td>
			<td th:text="*{caseId}" class="w-50"></td>
		</tr>
		<tr>
			<td>【タイトル】</td>
			<td th:text="*{title}" class="w-50"></td>
		<tr>
			<td>【期限】</td>
			<td th:text="*{deadline}" class="w-50"></td>
		<tr>
			<td>【重要度】</td>
			<td th:text="*{priorityName}" class="w-50"></td>
		</tr>
		<tr>
			<td>【ステータス】</td>
			<td th:text="*{statusName}" class="w-50"></td>
		</tr>
	</table>
	<br>
	
	<form th:action="@{/task-confirm-regist}" method="post"
			th:object="${taskRegistForm}">
		<input type="hidden" th:field="*{caseId}">
		<input type="hidden" th:field="*{title}">
		<input type="hidden" th:field="*{deadline}">
		<input type="hidden" th:field="*{priorityCode}">
		<input type="hidden" th:field="*{statusCode}">
		<input type="submit" value="登録実行" class="btn btn-primary">
	</form>
	<br>
	<form th:action="@{/task-show-regist}" method="post"
			th:object="${taskRegistForm}">
		<input type="hidden" th:field="*{caseId}">
		<input type="hidden" th:field="*{title}">
		<input type="hidden" th:field="*{deadline}">
		<input type="hidden" th:field="*{priorityCode}">
		<input type="hidden" th:field="*{statusCode}">
		<input type="submit" value="戻る" class="btn btn-primary">
	</form>
	</main>
</body>
</html>