<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>ユーザ登録</title>
</head>

<body>
	<main layout:fragment="content">
	<h2>ユーザ登録</h2>

	<form th:action="@{/user-regist}" method="post" th:object="${userRegistForm}">
		<div>
			<label>メールアドレス:</label>
			<input type="email" th:field="*{email}">
		</div>
		<div>
			<label>ユーザ名:</label>
			<input type="text" th:field="*{userName}">
		</div>
		<div>
			<label>パスワード:</label>
			<input type="password" th:field="*{password}">
		</div>
		<div>
			<label>パスワード（確認）:</label>
			<input type="password" th:field="*{confirmPassword}">
		</div>
		<p th:if="${passwordError}" th:text="${passwordError}" class="error-msg"></p>
		<br>
		<input type="submit" value="ユーザ登録" class="btn">
	</form>
	</main>
</body>

</html>