<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ登録</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h2>ユーザ登録</h2>
	
	<form th:action="@{/user-regist}" method="post" th:object="${userRegistForm}">
		<div>
			<label>メールアドレス</label>
			<input type="email" th:field="*{email}">
		</div>
		<div>
			<label>ユーザ名</label>
			<input type="text" th:field="*{userName}">
		</div>
		<div>
			<label>パスワード</label>
			<input type="password" th:field="*{password}">
		</div>
		<button type="submit">ユーザ登録</button>
	</form>
	
</body>
</html>